python_version == 3.6.12
tensorflow_gpu == 2.12.0
numpy == 1.19.5
scipy == 1.5.4
h5py == 3.1.0
joblib == 1.0.0
lazy-property == 0.0.1
scikit-image == 0.17.2
matplotlib == 3.3.4
memory_profiler == 0.58.0
pymongo == 3.11.3
zarr == 2.6.1
cremi@git+https://github.com/cremi/cremi_python.git@python3
gunpowder@git+https://github.com/neptunes5thmoon/gunpowder.git@dist_transform_py3
fuse@git+https://github.com/neptunes5thmoon/fuse.git@intensity_augment
malis[malis_loss]@git+https://github.com/neptunes5thmoon/malis.git@fix_setup
neptunes5thmoon-simpleference@git+https://github.com/neptunes5thmoon/simpleference
